.questions {
    padding: 150px 0;

}

.questions__inner {

    position: relative;

}

.questions__wrapper {
    position: absolute;
    background: #F2F2F2;
    border-radius: 7px;
    top: -200px;
    left: 0;
    right: 0;
    padding: 80px 0;

    text-align: center;
}

.questions__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333333;
    margin-bottom: 20px;
}

.questions__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333333;

    margin-bottom: 30px;
}

.questions__form {
    margin: 0 auto 20px;
    max-width: 540px;
    display: flex;

    #placeholder {
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #828282;
    }

    input {
        width: 350px;

        background: #FCFCFD;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        outline: none;
        padding: 16px 20px;


    }

    .btn {
        margin-left: -5px;
    }
}

.questions__suptitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #4F4F4F;
}