.delivery {
  .guarantee-link-pay {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #333333;

    &:before {
      position: absolute;
      content: url(../../../images/pay-icon-inactive.svg);
      left: 0;
      top: 24px;
      width: 24px;
      height: 24px;
    }
  }

  .guarantee-link-delivery {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #01274F;

    &:before {
      position: absolute;
      content: url(../../../images/delivery-icon-active.svg);
      left: 0;
      top: 24px;
      width: 24px;
      height: 24px;
    }
  }
}

.delivery-box {
  border-top: 0.7px solid rgba(79, 79, 79, 0.15);
  border-bottom: 0.7px solid rgba(79, 79, 79, 0.15);
  padding-top: 20px;
  margin-bottom: 20px;
}

.delivery-item {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #4F4F4F;

  text-align: left;
}

.price {
  width: 200px;
}

.delivery-item:nth-child(2n+1) {
  background: rgba(2, 65, 132, 0.05);
}

.guarantee-subtitle-delivery {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: url(../../../images/delivery-icon.png);
    width: 72px;
    height: 20px;
    right: -92px;
  }

}

.delivery-list {
  margin-bottom: 20px;
}

.guarantee-subtitle-mail {


  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: url(../../../images/mail-icon.png);
    width: 52px;
    height: 26px;
    right: -72px;
  }
}

.border {
  border-top: 0.7px solid rgba(79, 79, 79, 0.15);
  padding: 20px 0;
}