@font-face {
	font-family: 'GraphikLCG';
	src: url('../fonts/GraphikLCG-Bold.eot');
	src: local('☺'), url('../fonts/GraphikLCG-Bold.woff') format('woff'), url('../fonts/GraphikLCG-Bold.ttf') format('truetype'), url('../fonts/GraphikLCG-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GraphikLCG';
	src: url('../fonts/GraphikLCG-Regular.eot');
	src: local('☺'), url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf') format('truetype'), url('../fonts/GraphikLCG-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

