@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {}


@media (max-width: 1165px) {
  .sub-menu__list {
    .container {
      width: 100% !important;
    }
  }

  .sub-menu__brands-wrapper {
    justify-content: center;
  }

  .sub-menu__brands-item__wrapper {
    width: 17%;
  }

  .sub-menu__banner {
    display: none;
  }

  .sub-menu__list-wrapper {
    justify-content: center !important;

    .sub-menu__list-item__wrapper {
      width: 21% !important;
    }
  }


}

@media (max-width: 930px) {
  .header__menu {
    display: none;
  }

  .header__info {
    display: none;
  }

  .header__burger-btn {
    display: block;
  }

  .header__menu-bottom {
    display: none;
  }

  .menu__mobile-list {
    display: block;
  }
}