@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {}


@media (max-width: 1165px) {
  .sub-menu__list {
    .container {
      width: 100% !important;
    }
  }

  .sub-menu__brands-wrapper {
    justify-content: center;
  }

  .sub-menu__brands-item__wrapper {
    width: 17%;
  }

  .sub-menu__banner {
    display: none;
  }

  .sub-menu__list-wrapper {
    justify-content: center !important;

    .sub-menu__list-item__wrapper {
      width: 21% !important;
    }
  }

  .slider__title {
    font-size: 50px;
  }

  .slider__text {
    font-size: 14px;
  }

  .products__slider-title {
    font-size: 30px;
  }

  .products__slider-text {
    font-size: 12px;
  }

  .services__wrapper {
    justify-content: space-between;
  }

  .services__item {
    width: 33.3333%;
  }

  .watched-scroll {
    overflow-x: scroll;
    border-radius: 7px;
    margin-bottom: 20px;
  }

  .product-wrapper {
    padding: 20px 15px;
  }

  .page {
    padding-bottom: 20px;
  }

  .basket_link:after {
    display: none;
  }

  .authorization_link:after {
    display: none;
  }
}

@media (max-width: 1120px) {
  .catalog__inner-item {
    width: 48%;
  }

  .catalog__inner-img {
    margin: 0 auto;
  }

  .catalog__inner-buttons {
    justify-content: space-around;
  }

  .accessories-title {
    margin-bottom: 25px;
    font-size: 30px;
  }
}

@media (max-width: 1060px) {
  .services__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__item {
    width: 48%;
    margin-bottom: 20px;
  }

  .accordeon_content-name {
    width: 30%;
  }

  .accordeon_content-total,
  .accordeon_content-price {
    width: 20%;
  }
}

@media (max-width: 990px) {
  .slider__top {
    display: none;
  }

  .products {
    padding-top: 20px;
  }

  .services__wrapper {
    justify-content: start;
  }

  .services__item {
    width: 100%;
    justify-content: start;
  }

  .about__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__item {
    overflow: inherit;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 0;
  }

  .about__content {

    .products__slider-link::after {
      display: none;
    }

    .products__slider-link {
      font-size: 12px;
    }
  }

  .about__img {
    img {
      width: 100%;
    }
  }

  .about__title {
    font-size: 30px;
  }

  .about__text {
    font-size: 12px;
  }

  .title {
    font-size: 32px;
  }

  .popular__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .popular__item {
    width: 40%;
    padding: 0;
  }

  .popular__img {
    margin: 0 auto;
  }

  .slider-blog__title {
    font-size: 30px;
    line-height: 30px;
  }

  .brands {
    padding: 30px 0;
  }

  .questions {
    padding: 0;
    padding-bottom: 20px;
  }

  .questions__wrapper {
    position: relative;
    top: 0;
    padding: 50px 20px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__inner {
    padding: 0;
  }

  .footer__wrapper-top {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__item-nav {
    width: 100%;
  }

  .footer-text {
    display: none;
  }

  .footer__mail {
    display: none;
  }

  .footer__item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__item-nav {
    justify-content: space-around;
  }

  .footer__wrapper-midle {
    padding: 10px 0;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contacts__item {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .ab__company {
    padding-top: 0;
  }

  .ab__company-wrap {
    flex-direction: column;
  }

  .ab__company-content {
    width: 100%;
  }

  .ab__company-title {
    text-align: center;
  }

  .requisites {
    padding-bottom: 0;
  }

  .page {
    padding-bottom: 40px;
  }

  .news-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-item {
    grid-column: 1 / 3;

    &:hover {
      transform: scale(1);
    }
  }

  .news {
    padding-bottom: 20px;
  }

  .payment-box {
    flex-wrap: wrap;
  }

  .payment-item {
    width: 30%;
    margin-bottom: 20px;
  }

  .guarantee-wrapper {
    padding-bottom: 30px;
  }

  .mobile__sort {
    display: block;
  }

  .catalog__filter {
    display: none;
  }

  .catalog-sort {
    display: none;
  }

  .catalog__inner-aside {
    display: none;
  }

  .watched-box {
    margin-bottom: 0;
  }


  .watched-title {
    margin-bottom: 20px;
  }

  .registration__delivery-wrap {
    width: 60%;
  }

  .registration__delivery-price {
    width: 35%;
  }

  .registration__feedback {
    padding-bottom: 30px;
  }

  .accordeon_title-number {
    font-size: 10px;
    margin-right: 10px;
  }

  .accordeon_title-price {
    font-size: 10px;
    margin-right: 30px;
  }

  .accordeon_title-condition {
    font-size: 10px;
  }

  .accordeon_title-data {
    font-size: 10px;
  }
}

@media (max-width: 950px) {
  .product-wrapper {
    flex-direction: column;
  }

  .product-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .product-content {
    padding: 0;
    border: none;
  }
}

@media (max-width: 930px) {
  .header__menu {
    display: none;
  }

  .header__info {
    display: none;
  }

  .header__burger-btn {
    display: block;
  }

  .header__menu-bottom {
    display: none;
  }

  .menu__mobile-list {
    display: block;
  }

  .advantages-title {
    text-align: center;
  }

  .advantages-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages-item {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
  }

  .advantages-icon {
    margin: 0 auto;
  }

  .reviews-content__box {
    flex-direction: column;
  }

  .reviews-content__rate {
    padding-top: 0;
    width: 100%;
    margin-bottom: 35px;
  }

  .reviews-content__review {
    width: 100%;
  }

  .authorization__form-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form-item {
    margin-bottom: 30px;
    min-width: 450px;
  }

  .registration__wrapper {
    padding: 20px;
  }

  .registration__footer {
    padding-top: 20px;
    flex-direction: column;
  }

  .registration__footer-list {
    width: 100%;
    margin-bottom: 20px;
  }

  .registration__footer-price {
    text-align: right;
  }

  .registration__footer-text.right {
    text-align: right;
  }

  .registration__footer-btn {
    width: 100%;
  }

  .accordeon_content-quantity {
    display: none;
  }

  .accordeon_content-price {
    display: none;
  }

  .accordeon_content-name {
    width: 35%;
  }

  .accordeon_content-total {
    width: 27%;
  }


  .accordion-item {
    width: 48%;
  }

  .accordeon_delivery {
    font-size: 10px;
  }
}

@media (max-width: 790px) {
  .about__item {
    width: 100%;
  }

  .breadcrumbs {
    padding: 10px 0;
  }

  .guarantee-title {
    font-size: 30px;
  }

  .mobile__sort {
    .sort__btn-list {
      display: none;
    }

  }

  .product-about__wrap {
    flex-direction: column;
  }

  .product-about-left,
  .product-about-right {
    width: 100%;
  }

  .product-about-item__title:before {
    display: none;
  }

  .product-about-item__title {
    padding-left: 0;
  }

  .product-about-item__text {
    padding-left: 0;
  }

  .basket__product-box {
    padding: 20px;
  }

  .basket__product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .basket__product-item {
    flex-direction: column;
    width: 48%;
    border: 1px solid rgba(1, 39, 79, .15);
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
  }

  .basket__product-form {
    flex-direction: column;
    width: 100%;
    padding: 15px 0;

    form {
      margin-bottom: 20px;
    }
  }

  .basket__product-price {
    width: 100%;
  }

  .basket-btn__box {
    margin-top: 20px;
    text-align: center;
  }

  .registration__delivery-wrap__price {
    flex-wrap: wrap;

    .registration__delivery-item {
      width: 33.333%;
      margin-bottom: 20px;
    }
  }

  .guarantee-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;

    margin-bottom: 20px;
  }

  .main {
    width: 100%;
    padding: 20px 30px;
  }

  .sidebar-list__item {
    padding: 10px;
  }
}



@media (max-width: 700px) {

  .about {
    padding: 30px 0;
  }

  .about__content {
    padding-right: 25px;

  }



  .about__img {
    min-width: 290px;
  }

  .about__item.about__item-right {
    margin-left: 0;
  }

  .popular {
    padding: 30px 0;
  }

  .popular__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .slider-blog__item {
    padding: 125px 25px;
  }

  .guarantee-title {
    margin-bottom: 0;
  }

  .guarantee-wrapper {
    flex-wrap: wrap;
  }

  .guarantee-left {
    width: 100%;
  }

  .guarantee-right {
    width: 100%;
  }


  .guarantee-list {
    a {
      &:after {
        position: absolute;
        content: url(../images/arrows.svg);
        width: 34px;
        height: 34px;
        right: 0;
        top: 17px;
        transform: rotate(180deg);
      }
    }
  }

  .guarantee-link-delivery {
    display: block;


  }

  .breadcrumbs {
    overflow-x: scroll;
  }

  .breadcrumbs__list {
    min-width: 500px;
  }

  .registration__form {
    flex-direction: column;

    label {
      width: 100%;
    }
  }

  .registration__delivery {
    align-items: center;
  }

  .registration__delivery-wrap {
    flex-wrap: wrap;
  }

  .registration__delivery-item {
    width: 48%;
    margin-bottom: 20px;
  }

  .registration__delivery-price {
    flex-direction: column;

  }

  .registration__delivery-price__item {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .registration__feedback-form {
    textarea {
      width: 100%;
    }
  }
}

@media (max-width: 670px) {
  .categories-triggers__item {
    margin: 0 10px;
    font-size: 20px;
  }

  .questions__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .questions__text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .questions__form {
    flex-wrap: wrap;

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    .btn {
      margin: 0 auto;
    }
  }

  .product-menu {
    flex-direction: column;
  }

  .product-menu__link:after {
    top: 16px;
  }

  .specifications__result {
    text-align: right;
    width: 16%;
  }

  .specifications__text {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .footer__item-nav {
    display: none;
  }

  .mobile__footer-nav {
    width: 100%;
    display: block;

    .accordeon_item {
      margin-bottom: 15px;
      border: none;
      border-radius: 7px;
      padding: 10px;
      cursor: pointer;
      background-color: #034994;
      color: #fff;
    }

    .menu__mobile-accordion-item {
      margin-bottom: 7px;
      padding-left: 10px;
      cursor: pointer;
    }

    .accordeon_content {
      margin-top: 10px;
    }
  }

  .footer__item-wrapper {
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer__item-text {
    text-align: center;
  }

  .footer__wrapper-midle {
    flex-direction: column;

    p {
      margin-bottom: 10px;
    }
  }

  .advantages-title {
    font-size: 30px;
  }

  .advantages-item {
    width: 100%;
  }

  .catalog__inner-item {
    width: 100%;
  }

  .catalog-link__question {
    display: none;
  }

  .mobile__sort-icon {
    display: block;
  }

  .mobile__sort-item.teg {
    display: none;
  }

  .mobile__sort-item {
    width: 75%;
  }

  .pagination-list {
    min-width: 290px;
  }

  .pagination-list__item:nth-child(3),
  .pagination-list__item:nth-child(4),
  .pagination-list__item:nth-child(5) {
    display: none;
  }


  .mobile__sort-item.sorting {
    display: none;
  }

  .reviews-triggers {
    flex-direction: column;
    align-items: end;
  }

  .review-box {
    padding: 10px;
  }

  .accordeon_title-condition {
    display: none;
  }

  .accordeon_title-data {
    display: none;
  }

  .accordeon_item {
    padding: 15px 20px;
  }

}

@media (max-width: 520px) {

  .title {
    font-size: 30px;
  }

  .services__wrapper {
    padding: 25px;
  }

  .services__img {
    display: none;
  }

  .services__content {
    padding-left: 0;
  }

  .services__content {
    text-align: center;
  }

  .about__title {
    line-height: 30px;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .slider-blog__title {
    font-size: 20px;
    line-height: 30px;
  }

  .slider-blog__text {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .ab__company-text {
    font-size: 10px;
  }

  .ab__company-brands {
    flex-direction: column;
  }

  .ab__company-item {
    font-size: 14px;
  }

  .ab__company-list+.ab__company-list {
    margin: 0;
  }

  .contact_form {
    min-width: 100%;
  }

  .delivery-item {
    flex-direction: column;
    text-align: center;
  }

  .mobile__sort-item {
    width: 65%;
  }

  .product-slidersmall {
    display: none;
  }

  .product__title {
    font-size: 20px;
  }

  .basket__menu {
    flex-direction: column;
    align-items: end;
  }

  .basket__menu-item {
    margin-bottom: 15px;
  }

  .basket__clear:before {
    display: none;
  }

  .basket__menu-box {
    margin-bottom: 10px;
  }

  .basket__product-item {
    width: 100%;
  }

  .basket__product-form form {
    width: 100%;
  }

  .form-item {
    min-width: 100%;
  }

  .registration__title {
    text-align: center;
  }

  .registration__delivery-wrap__price {
    .registration__delivery-item {
      width: 48%;
    }
  }

  .registration__footer-text {
    display: flex;
    flex-direction: column;
  }

  .registration__footer-item,
  .registration__footer-price {
    font-size: 12px;
  }

  .accordeon_content-list {
    flex-direction: column;
  }

  .accordeon_content-name {
    width: 100%;
    text-align: center;
  }

  .accordeon_content-total {
    width: 100%;
    text-align: center;
  }


  .accordion-footer {
    flex-direction: column;
  }

  .accordion-item {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__title {
    margin-bottom: 15px;
  }

  .contacts__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .payment-item {
    width: 47%;
  }

  .filter__btn-box {
    display: block;

    .form-btn {
      width: 100%;
      margin: 0;
    }
  }

  .aside-filter-btn {
    margin-bottom: 15px;
  }

  .product-box__btn {
    .product-btn {
      display: none;
    }

    .catalog__inner-button {
      margin: 0 auto;
    }
  }

  .product-descr__list {
    display: none;
  }

  .product-item {
    margin: 0;
  }

  .product-about__right-item:before {
    display: none;
  }

  .product-about__right-item {
    padding-left: 0;
  }

  .product__title:before {
    display: none;
  }

  .product__title {
    width: 100%;
    text-align: center;
  }

  .specifications__result {
    width: 25%;
  }

  .specifications__item {
    padding: 4px 7px;
  }

  .specifications__text {
    font-size: 10px;
  }

  .specifications__result {
    font-size: 10px;
  }

  .basket__product-form form {
    flex-direction: column;
    text-align: center;
  }

  .basket__product-form input {
    width: 100%;
    margin-bottom: 20px;

  }

  .basket-text {
    font-size: 10px;
  }

  .basket-stock {
    font-size: 10px;
  }

  .basket-price {
    font-size: 10px;
  }

  .authorization__form-btn {
    flex-direction: column;

    .authorization-btn {
      width: 100%;
      margin-bottom: 10px;
    }

    .product-btn {
      width: 100%;
      margin: 0;
    }
  }

  .registration__delivery {
    flex-direction: column;
  }

  .registration__delivery-wrap {
    width: 100%;
  }

  .registration__delivery-price {
    width: 100%;
    border: none;
    flex-direction: row;
    justify-content: space-around;
  }


}

@media (max-width: 380px) {
  .about__title {
    font-size: 20px;
  }

  .about__text {
    font-size: 10px;
  }

  .products__slider-title {
    font-size: 22px;
  }

  .products__slider-text {
    font-size: 10px;
  }

  .categories-triggers__item {
    margin: 0 5px;
    font-size: 18px;
  }

  .questions__title {
    font-size: 22px;
    line-height: 30px;
  }

  .questions__text {
    font-size: 10px;
  }

  .questions__suptitle {
    font-size: 10px;
  }

  .contact_form-title {
    font-size: 20px;
  }

  .exchange-title {
    font-size: 20px;
  }

  .guarantee-subtitle-delivery {
    &:after {
      display: none;
    }
  }

  .guarantee-subtitle-mail {
    &:after {
      display: none;
    }
  }

  .mobile__sort-item {
    width: 50%;
  }

  .product-page__line-left {
    flex-direction: column;
  }

  .product-page__feedback {
    margin: 0;
  }

  .profile-btn {
    display: flex;
    flex-direction: column;

    .btn {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .accordeon_title:after {
    right: -20px;
  }

  .accordeon_title-price {
    margin-right: 0;
  }

  .accordeon_title {
    justify-content: space-between;
  }
}