@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {}


@media (max-width: 1165px) {
  .sub-menu__list {
    .container {
      width: 100% !important;
    }
  }

  .sub-menu__brands-wrapper {
    justify-content: center;
  }

  .sub-menu__brands-item__wrapper {
    width: 17%;
  }

  .sub-menu__banner {
    display: none;
  }

  .sub-menu__list-wrapper {
    justify-content: center !important;

    .sub-menu__list-item__wrapper {
      width: 21% !important;
    }
  }

  .slider__title {
    font-size: 50px;
  }

  .slider__text {
    font-size: 14px;
  }

  .products__slider-title {
    font-size: 30px;
  }

  .products__slider-text {
    font-size: 12px;
  }

  .services__wrapper {
    justify-content: space-between;
  }

  .services__item {
    width: 33.3333%;
  }
}

@media (max-width: 1060px) {
  .services__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__item {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 990px) {
  .slider__top {
    display: none;
  }

  .header {
    margin-bottom: 30px;
  }

  .services__wrapper {
    justify-content: start;
  }

  .services__item {
    width: 100%;
    justify-content: start;
  }

  .about__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__item {
    overflow: inherit;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 0;
  }

  .about__content {

    .products__slider-link::after {
      display: none;
    }

    .products__slider-link {
      font-size: 12px;
    }
  }

  .about__img {
    img {
      width: 100%;
    }
  }

  .about__title {
    font-size: 30px;
  }

  .about__text {
    font-size: 12px;
  }

  .title {
    font-size: 38px;
  }

  .popular__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .popular__item {
    width: 40%;
    padding: 0;
  }

  .popular__img {
    margin: 0 auto;
  }
}

@media (max-width: 930px) {
  .header__menu {
    display: none;
  }

  .header__info {
    display: none;
  }

  .header__burger-btn {
    display: block;
  }

  .header__menu-bottom {
    display: none;
  }

  .menu__mobile-list {
    display: block;
  }
}

@media (max-width: 790px) {
  .about__item {
    width: 100%;
  }
}



@media (max-width: 700px) {

  .about {
    padding: 30px 0;
  }

  .about__content {
    padding-right: 25px;

  }



  .about__img {
    min-width: 290px;
  }

  .about__item.about__item-right {
    margin-left: 0;
  }

  .popular {
    padding: 30px 0;
  }

  .popular__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

}

@media (max-width: 520px) {

  .title {
    font-size: 30px;
  }

  .services__wrapper {
    padding: 25px;
  }

  .services__img {
    display: none;
  }

  .services__content {
    padding-left: 0;
  }

  .services__content {
    text-align: center;
  }

  .about__title {
    line-height: 30px;
  }

  .about__text {
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 380px) {
  .about__title {
    font-size: 20px;
  }

  .about__text {
    font-size: 10px;
  }

  .products__slider-title {
    font-size: 22px;
  }

  .products__slider-text {
    font-size: 10px;
  }
}