.tabs-content__item {
    display: none;
}

.tabs-content__item--active {
    display: block;
}

.reviews-content__item.reviews-content__item--active {
    display: flex;
    justify-content: space-between;
}