.specifications__inner {
  padding: 0 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(1, 39, 79, .15);
}

.specifications__list {
  margin-bottom: 30px;
}

.specifications__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.specifications__item:nth-child(2n+1) {
  background: rgba(2, 65, 132, 0.05);
}

.specifications__text {
  display: inline-block;
  width: 50%;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #4F4F4F;
}

.specifications__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #01274F;
  display: inline-block;
  margin-bottom: 40px;
}