.profil-wrapper {
  .registration__box {
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(1, 39, 79, .15);
  }
}

.profile-btn {
  .btn {
    margin-right: 15px;
  }
}