.accordeon_item {

  margin-bottom: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 7px;
  padding: 28px 30px;
}

.accordeon_title {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    content: url(../../../images/accordion-arrow.png);
    width: 24px;
    height: 24px;
    right: 0;
    top: -3px;
    transition: all .2s ease;
  }

}

.accordeon_item.active .accordeon_title:after {
  transform: rotate(180deg);
}

.accordeon_title-number {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #333333;

  margin-right: 20px;
}

.accordeon_title-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-right: 60px;
}

.accordeon_title-condition {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-right: 20px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: #219653;
    border-radius: 50%;
    top: 2px;
    left: -20px;
  }
}

.accordeon_title-condition.cancel {
  &:before {
    background: #EB5757;
  }
}

.accordeon_title-data {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #BDBDBD;
}

.accordeon_content-box {
  margin-top: 33px;
  margin-bottom: 28px;
  padding: 25px 0;
  border-top: 1px solid rgba(1, 39, 79, .15);
  border-bottom: 1px solid rgba(1, 39, 79, .15);
}

.accordeon_content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.accordeon_content-name,
.accordeon_content-price {
  width: 25%;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;

  text-align: right;
}

.accordeon_content-quantity {
  width: 10%;
}

.accordeon_content-total {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;
  text-align: right;
}

.accordion-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordeon_delivery {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #333333;
}

.accordeon_delivery-total {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #333333;
}