.products {
    padding-bottom: 60px;
}

.products__slider-item {
    padding-top: 50px;
}

.products__slider-content {
    background: radial-gradient(40.92% 40.92% at 50% 0%, #5D9CDE 0%, rgba(1, 39, 79, 0) 100%), #01274F;
    border-radius: 7px;
    padding: 120px 37px 54px 37px;

    margin: 0 15px;

    position: relative;
}

.products__slider-img {
    position: absolute;
    top: -60px;
    left: 54px;
    right: 0;
    z-index: 10;
}

.products__slider-suptitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #F2F2F2;

    margin-bottom: 9px;
}

.products__slider-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: #F2F2F2;

    margin-bottom: 15px;

    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 8px;
        height: 48px;
        background-color: #fff;
        left: -37px;
    }
}

.products__slider-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #F2F2F2;

    margin-bottom: 32px;
}

.products__slider-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #F2F2F2;
    position: relative;

    outline: none;

    &::after {
        position: absolute;
        content: url(../../../images/arrow-white.png);
        width: 16px;
        height: 16px;
        right: -25px;
    }

}



.products__slider {
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            margin: 60px 5px 0px;
            &.slick-active button {
                background-color: #01274F;
            }
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            background-color: #BDBDBD;
            border-radius: 50%;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}