.sidebar {
  width: 28%;
}

.sidebar-list__item {
  padding: 28px;
  border-bottom: 1px solid rgba(1, 39, 79, .15);


}

.sidebar-link {
  display: flex;
  align-items: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #333333;
}

.sidebar-link.active {
  color: #01274F;
  font-weight: 600;
}

.sidebar-link-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}