.reviews__inner {
  padding: 0 30px;
}

.reviews-triggers {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.reviews-triggers__item {
  padding-left: 25px;
}

.reviews__sort {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.reviews-triggers__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #333333;

  transition: all .2s ease;
}

.reviews-triggers__item.tabs-triggers__item--active {
  font-weight: 600;
  color: #01274F;
  position: relative;

  &:after {
    position: absolute;
    content: url(../../../images/sort-icon.svg);
    width: 16px;
    height: 16px;
    right: -20px;
    top: 2px;
  }
}

.reviews-content__item {
  display: flex;
  justify-content: space-between;
}

.reviews-content__rate {
  width: 25%;
  padding-top: 40px;
}

.reviews__rate-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;

  margin-bottom: 15px;
}

.rate-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .rate {
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.reviews__btn {
  width: 225px;
  height: 45px;
  text-align: center;
  border: none;
  background-color: #27AE60;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
}

.rate-number {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #333333;
}

.reviews-content__review {
  width: 75%;
}

.review-box {
  border: 1px solid rgba(1, 39, 79, .15);
  border-radius: 7px;
  padding: 40px 30px;
  margin-bottom: 20px;
}

.rate__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__data {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.review__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #333333;

  margin-bottom: 4px;
}

.review__city {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;

  margin-bottom: 10px;
}

.review__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 10px;
}

.review__btn {
  display: flex;
}

.review__useful {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.review__link {
  margin-left: 30px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #333333;
}