.reviews__inner {
  padding: 0 30px;
}

.reviews-triggers {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.reviews-triggers__item {
  padding-left: 25px;
}

.reviews__sort {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.reviews-triggers__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #333333;

  transition: all .2s ease;
}

.reviews-triggers__item.reviews-triggers__item--active {
  font-weight: 600;
  color: #01274F;
  position: relative;

  &:after {
    position: absolute;
    content: url(../../../images/sort-icon.svg);
    width: 16px;
    height: 16px;
    right: -20px;
    top: 2px;
  }
}

.reviews-content__item {
  display: none;
}

.reviews-content__box {
  display: flex;
  justify-content: space-between;
}

.reviews-content__rate {
  width: 25%;
  padding-top: 40px;
}

.reviews__rate-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;

  margin-bottom: 15px;
}

.rate-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .rate {
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.reviews__btn {
  width: 225px;
  padding: 14px 36px;
  text-align: center;
  border: none;
  background-color: #27AE60;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
}

.rate-number {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #333333;
}

.reviews-content__review {
  width: 75%;
}

.review-box {
  border: 1px solid rgba(1, 39, 79, .15);
  border-radius: 7px;
  padding: 40px 30px;
  margin-bottom: 20px;
}

.rate__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__data {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.review__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #333333;

  margin-bottom: 4px;
}

.review__city {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;

  margin-bottom: 10px;
}

.review__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 10px;
}

.review__btn {
  display: flex;
}

.review__useful {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828282;
}

.review__link {
  margin-left: 30px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #333333;
}



// Popap ===========================

.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  border-radius: 7px;
  background-color: #fff;
  width: 539px;
  padding: 30px;


  position: relative;
  margin: 0 15px;

  transition: all .8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.form-box {
  border-top: 1px solid rgba(1, 39, 79, .15);
  padding-top: 32px;
}

.popup__form {
  label {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
}

.form-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #4F4F4F;
  margin-bottom: 6px;

  span {
    color: red;
  }
}

.popup__form {

  input {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    padding: 0 12px;
    background: #FCFCFD;
    border: 1px solid #E0E0E0;
    border-radius: 3px;


    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  textarea {
    width: 100%;
    height: 230px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 12px;
    background: #FCFCFD;
    border: 1px solid #E0E0E0;
    border-radius: 3px;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

}

.popup__form input:hover {
  border: 1px solid #828282;
}

.popup__form input:focus {
  outline: none;
}

.popup__form textarea:hover {
  border: 1px solid #828282;
}

.popup__form textarea:focus {
  outline: none;
}

.form-btn-box {
  text-align: center;
}

.form-btn {
  background: #219653;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 20px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
}

.form-rate-box {
  background: #FCFCFD;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 20px;

  .rate {
    margin: 8px;
  }
}