.pagination {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pagination-list {
  min-width: 360px;
  display: flex;
  justify-content: center;

  position: relative;
  padding: 0 35px;

  &:before {
    position: absolute;
    content: url(../../../images/pagination-arrow-left.svg);
    width: 32px;
    height: 32px;
    left: 0;
    cursor: pointer;
  }

  &:after {
    position: absolute;
    content: url(../../../images/pagination-arrow-right.svg);
    width: 32px;
    height: 32px;
    right: 0;
    cursor: pointer;
  }
}

.pagination-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #BDBDBD;
  margin-left: -1px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.pagination-list__item:hover {
  background-color: #d1cece;
}

.pagination-list__item a {
  display: block;
}

.pagination-list__item:first-child {
  border-radius: 5px 0px 0px 5px;
}

.pagination-list__item:last-child {
  border-radius: 0px 5px 5px 0px;
}

.pagination-list__item.active {
  background-color: #d1cece;
}